@model Context.Models.BooksWithUserViewModel

@{
    ViewData["Title"] = "Index";
}

<h2>The Context Collection</h2>

@if (Model.User != null) {
    if (Model.User.FirstName == "Alejandro") { 
    
    <p >
        <a asp-action="Create" class="btn waves-effect">Create New</a>
    </p>
    }

 }
 <hr />
<br />
<table class="table striped">
    <thead>
        <tr>
            <th>
                Book Titles           
            </th>
            <th>
               Author Name
            </th>       
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Books) {
        <tr>
            <td>
             
                <a asp-action="Details" asp-route-id="@item.BookId" class="teal-text text-accent-4"> @Html.DisplayFor(modelItem => item.Title)</a>

              
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AuthorFirstName)  @Html.DisplayFor(modelItem => item.AuthorLastName)
            </td> 
            <td>
                @if (Model.User != null)
                {
                    if (Model.User.FirstName == "Alejandro")
                    {

                <a asp-action="Delete" asp-route-id="@item.BookId" class="pink-text text-darken-1">
                    <i class="material-icons">cancel</i>
                </a> 

                    }

                }
                     <a asp-action="SaveUserBook" asp-route-id="@item.BookId"  class="teal-text text-accent-3">
                         <i class="material-icons">add_circle</i>
                     </a>
            </td>
        </tr>
}
    </tbody>
</table>
